<!DOCTYPE html>
<html>
<head>
  <title>Scoutiste</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
 


  <div class="box">
    <div class="content">
      <div class="overlay text-center row">
          
              <span class="cityintro2">That Milo Baughman coffee table near you at a fire sale price?</span>
              <span class="cityintro3">You'll be the first to know.<br></span>
              <span class="cityintro5">The vintage kelly green slipper chair that would never cross your mind?</span>
              <span class="cityintro4">We'll show you that one, too.</span><br>
          
              <span class="cityintro6">We want to help you kick it up a notch, within budget.<br></span>
              <span class="cityintro7">We're the furniture concierge.</span>
          
      </div>
    </div>  
  </div>

 
 

<script src="assets/nanobar.min.js"></script>
<script>
      var nanobar = new Nanobar();
      nanobar.go(100);
      
</script>

</body>
</html>