/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 @import "bootstrap-sprockets";
 @import "bootstrap";

 @import url("//hello.myfonts.net/count/2f4359");

  
@font-face {font-family: 'UniformBold-Bold';src: font-url('2F4359_0_0.eot');src: font-url('2F4359_0_0.eot?#iefix') format('embedded-opentype'),font-url('2F4359_0_0.woff2') format('woff2'),font-url('2F4359_0_0.woff') format('woff'),font-url('2F4359_0_0.ttf') format('truetype');}
 
  
@font-face {font-family: 'UniformExtraCondensedBold-Bold';src: font-url('2F4359_1_0.eot');src: font-url('2F4359_1_0.eot?#iefix') format('embedded-opentype'),font-url('2F4359_1_0.woff2') format('woff2'),font-url('2F4359_1_0.woff') format('woff'),font-url('2F4359_1_0.ttf') format('truetype');}
 
  
@font-face {font-family: 'UniformExtraCondensedMedium-Medium';src: font-url('2F4359_2_0.eot');src: font-url('2F4359_2_0.eot?#iefix') format('embedded-opentype'),font-url('2F4359_2_0.woff2') format('woff2'),font-url('2F4359_2_0.woff') format('woff'),font-url('2F4359_2_0.ttf') format('truetype');}
 
  
@font-face {font-family: 'UniformUltra-Ultra';src: font-url('2F4359_3_0.eot');src: font-url('2F4359_3_0.eot?#iefix') format('embedded-opentype'),font-url('2F4359_3_0.woff2') format('woff2'),font-url('2F4359_3_0.woff') format('woff'),font-url('2F4359_3_0.ttf') format('truetype');}



/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
  body{font-size: 100%;}
 }

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {
  body{font-size: 250%;}
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  body{font-size: 400%;}
 }





.box{
  position: relative;
  width: 100%;   /* desired width */
}
.box:before{
  content: "";
  display: block;
  padding-top: 100%;  /* initial ratio of 1:1*/
}
.content{
  background: url(https://s3-us-west-2.amazonaws.com/christiebrophy-scoutiste/furniture_background.png) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  position:  absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.overlay {
  background-color: rgba(255,255,255, 0.6);
  margin: 5% 5% 5% 5%;
  padding: 5% 2% 5% 2%;
  color: inherit;

}





.intro1 {
  margin:1% 0 0 0;
  color:#333;
  font-family: 'UniformExtraCondensedBold-Bold';
  font-weight: normal;
  font-size: 4em;
  text-transform: uppercase;
}

.intro2 {
  color:#333;
  font-family: 'UniformExtraCondensedMedium-Medium';
  font-weight: normal;
  font-size: .7em;
}

.intro3 {
  color:#333;
  font-family: 'UniformExtraCondensedBold-Bold';
  font-weight: normal;
  font-size: .85em;
  text-transform: uppercase;
}

.intro4 {
  color:#333;
  font-family: 'UniformExtraCondensedBold-Bold';
  font-weight: normal;
  font-size: 1em;
  
}

.intro5 {
  color:#333;
  font-family: 'UniformExtraCondensedMedium-Medium';
  font-weight: normal;
  font-size: .55em;
}

.intro6 {
  color:#333;
  font-family: 'UniformExtraCondensedMedium-Medium';
  font-weight: normal;
  font-size: 1.30em;
}

.intro7 {
  color:#333;
  font-family: 'UniformUltra-Ultra';
  font-weight: normal;
  font-size: 1.20em;
  text-transform: uppercase;
}

.intro8 {
  color:#333;
  font-family: 'UniformExtraCondensedBold-Bold';
  font-weight: normal;
  font-size: .65em;
  text-transform: uppercase;
}




.navbar-header {
    float: left;
    padding: 0px;
    width: 100%;
    text-align:center;
}

.navbar-brand {
float:none;

}




/* contact form */

.form-control {
  width: 50%;
}

.btn{
    
    margin-bottom: 0;
    padding:0;
    text-align: center;
    cursor: pointer;
    border: 1px solid transparent;
    font-family: 'UniformUltra-Ultra';
    font-weight: normal;
    width: 30%;
    font-size: 1.2em;
}

.btn-primary {
  background-color:#343434;
  border-color:#000000;
}


.btn:focus {
  background-color: rgba(230,231,232,0.7);
  color: #000;
}

.btn:active {
  background-color: rgba(230,231,232,0.7);
  color: #000;
}
   
.btn:hover {
  background-color: rgba(230,231,232,0.7) ;
  color: #000;
  border: 1px solid transparent;
} 

.hidden { display: none; }
/*flash*/

.alert-error {
background-color: #f2dede;
border-color: #eed3d7;
color: #b94a48;
text-align: left;
}

.alert-alert {
background-color: #f2dede;
border-color: #eed3d7;
color: #b94a48;
text-align: left;
}

.alert-success {
background-color: #dff0d8;
border-color: #d6e9c6;
color: #468847;
text-align: left;
}

.alert-notice {
background-color: #dff0d8;
border-color: #d6e9c6;
color: #468847;
text-align: left;
}
